<ion-header>
  <ion-toolbar>
    <ion-title>second page</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
<body style="background-color: white;"></body>
<a href="http://localhost:8100/home">
<ion-icon name="arrow-back-circle-outline" style="color:black;position:fixed; left:20px;"></ion-icon>
</a>
<img src="assets\game.png"
style="position: fixed; right: 0px; bottom: 0px; width: 900px; height: 510px; border: none; opacity: 0.5;"
alt="front"
/>

<img src="assets\game.png"
style="position: fixed; right: 130px; bottom: 270px; width: 170px; height: 35px; border: none; opacity: 0.6;
box-shadow: 5px 5px 5px black;"
alt="wh"/>

<h1 style="position:relative; text-align: center; top:250px; font-style: Brush Script MT;
font-size:30px; color:black;">Good Game</h1>

<img src="assets\game.png"
style="position: fixed; right: 60px; bottom: 50px; width: 300px; height: 290px; border: none; opacity: 0.6;
box-shadow: 5px 5px 5px black;"
alt="wh"/>

<p style="position:relative; text-align:center; top:250px; font-style: Times New Roman;
font-size:20px; color:black;">
Retro gaming,<br>
Y8<br>
Friv<br>
Epic Games<br>
Rockstar<br>
Blizzard<br>
Y8<br>
</p>
</ion-content>


