<!--ion-header [translucent]= "true">

  <ion- toolbar>
    <ion-title>
      Gaming
    </ion-title>
  </ion-toolbar>
  <ion-header-->

  <ion-content [fullscreen]="true">

    <!--ion-header collapse="condense">
  <ion-toolbar> 
      <ion-title size="large">About Me!</ion-title>
  </ion-toolbar>
  
  </ion-header-->
  <body style="background-color:white;">
    <h1 style ="position:relative; text-align: center; top: 0px; font-style:Brush Script MT;
    font-size:50px; color:black;">Hello</h1>
  
  <!--img src="assets\retro.jpg"
  style="position: fixed; right:0px; bottom:0px; width:900px; height:470; border:none;"
  alt="front"
  /-->

  <img src="assets\game.png"
  style="position: fixed; right:110px; top:1-0px; width:200px; height:200; border:none;"
  alt="front"
  />

  <img src="assets\retro.jpg"
  style="position: fixed; right:120px; top:320px; width:180px; height:30; border:none;
  box-shadow: 5px 5px 5px black"
  alt="front"
  />

<h3 style="position: relative; text-align:center; top:225px; font-style:Times New Roman;
font-size:20px; color:black;"><b>BALOGNA, JOHN MEL JACIN P</b></h3>


<img src="assets\control.jpg"
style="position: fixed; right:120px; bottom:60px; width:180px; height:240; border:none; opacity: 0.6;
box-shadow: 5px 5px 5px black">
Age:<br>
90s<br>
<br>
Year:<br>
1999<br>
<br>
  </body>

<div id="cotainer">
  <!--strong> Thank you sir!?-->

  <a href="http://localhost:8100/jm">
    <ion-icon name="arrow-down-circle-outline" style="color:black;position:fixed; left:30px; top: 20px;"></ion-icon>
  </a>
</div>

</ion-content>

